.header {
  margin: 30px auto 80px;
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1600px) {
  .header {
    &__logo {
      margin-left: 30px;
    }
  }
}
