.footer {
  background-color: #f4f6f6;
  width: 100%;
  padding: 100px 0;
  &__inner {
    max-width: 1600px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1600px) {
  .footer {
    &__inner {
      padding: 0 30px;
    }
  }
}
